*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
#local.properties
.idea
.fleet
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
gradle/.*.toml
license.header.txt
license.header.properties
license.header.kt
license.header.html
klib/signing.gpg
clib/signing.gpg
shared/signing.gpg
server-app/**/security/ssl/keystore.p12
compose-app/signing.android.*.pkcs12
compose-app/compose_app.podspec
**/app-icon-png.png
**/app-icon-ico.ico
**/app-icon-icns.icns
apple-app/ios-app/Assets.xcassets/AppIcon.appiconset/*.png
apple-app/tvos-app/Assets.xcassets/App\ Icon\ &\ Top\ Shelf\ Image.brandassets/**/*.png
apple-app/watchos-app/Assets.xcassets/AppIcon.appiconset/*.png
compose-app/**/favicon*.svg
