*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
#local.properties
.idea
.fleet
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
**/*.yaml.cache
gradle/.*.toml
**/*.podspec
license.header.txt
license.header.properties
license.header.kt
license.header.html
**/*-png.png
**/*-ico.ico
**/*-icns.icns
**/.*.gpg
**/.*.p12
**/.*.pkcs12
**/.*.jks
