*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
#local.properties
.idea
.fleet
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
gradle/.*.toml
license.header.txt
license.header.properties
license.header.kt
license.header.html
klib/signing.gpg
clib/signing.gpg
shared/signing.gpg
server-app/**/security/ssl/keystore.p12
compose-app/signing.android.*.pkcs12
compose-app/compose_app.podspec
*/composeResources/**/app-icon-png.png
*/composeResources/**/app-icon-ico.ico
*/composeResources/**/app-icon-icns.icns
appleApp/iosApp/Assets.xcassets/AppIcon.appiconset/*.png
appleApp/TVosApp/Assets.xcassets/App\ Icon\ &\ Top\ Shelf\ Image.brandassets/**/*.png
appleApp/WatchosApp\ Watch\ App/Assets.xcassets/AppIcon.appiconset/*.png
