config:
  imports:
    - org.jetbrains.kotlin.gradle.ExperimentalKotlinGradlePluginApi
    - org.jetbrains.kotlin.gradle.plugin.mpp.KotlinAndroidTarget
    - org.jetbrains.kotlin.gradle.plugin.KotlinSourceSetTree
script:
  - plugins:
      - id: (libs.plugins("android.application").pluginId)
  - kotlin:
      androidTarget: ()
      targets:
        - withType<KotlinAndroidTarget>: |
            {
              @OptIn(ExperimentalKotlinGradlePluginApi::class)
              compilerOptions {
                jvmTarget /= libs.versions("android.jvm.target").requiredVersion.toJvmTarget()
              }

              @OptIn(ExperimentalKotlinGradlePluginApi::class)
              instrumentedTestVariant.sourceSetTree.set(KotlinSourceSetTree.test)
            }
      sourceSets:
        - named: |
            ("androidInstrumentedTest") { sourceSet ->
              sourceSet.dependencies {
                implementation(libs["androidx.benchmark.macro"])
              }
            }
        - named: |
            ("androidInstrumentedTest") { sourceSet ->
              sourceSet.dependencies {
                implementation(libs["mockk.android"])
                implementation(libs["androidx.ui.test.junit4.android"])
              }
            }
  - android:
      namespace: pathDot
      compileSdk: libs.versions("android.compileSdk").requiredVersion.toInt()
      compileOptions:
        isCoreLibraryDesugaringEnabled: true
        sourceCompatibility: JavaVersion.toVersion(libs.versions("android.jvm.target").requiredVersion)
        targetCompatibility: JavaVersion.toVersion(libs.versions("android.jvm.target").requiredVersion)
      lint:
        checkReleaseBuilds: false
        abortOnError: false
        xmlReport: true
        # path to the lint report to consume by sonar.
        xmlOutput: file("build/reports/lint-results.xml")
      defaultConfig:
        applicationId: pathDot
        minSdk: libs.versions("android.minSdk").requiredVersion.toInt()
        targetSdk: libs.versions("android.targetSdk").requiredVersion.toInt()
        versionCode: libs.versions("android.versionCode").requiredVersion.toInt()
        versionName: libs.versions("android.versionName").requiredVersion
        testInstrumentationRunner: '"androidx.test.runner.AndroidJUnitRunner"'
        manifestPlaceholders.putAll: |
          (mapOf(
            "hostName" to "www.example.com",
            "appAuthRedirectScheme" to "empty",
          ))
        javaCompileOptions:
          annotationProcessorOptions:
            arguments.putAll: |
              (mapOf(
                "room.schemaLocation" to "schemas",
                "room.incremental" to "true",
                "room.expandProjection" to "true",
              ))
        vectorDrawables:
          useSupportLibrary: true
        # The proguard files listed here are included in the
        # test APK only.
        testProguardFiles.addAll: |
          (listOf(
            "test-proguard-rules.pro"
          ).map { file-> file(file) })
        consumerProguardFiles.addAll: |
          (listOf(
            "consumer-proguard-rules.pro",
          ).map { file -> file(file) })
      signingConfig: ("release")
      buildTypes:
        - getByName: |
            ("release") { buildType ->
                buildType.isShrinkResources = true
                buildType.isMinifyEnabled = true
                buildType.proguardFiles(
                    getDefaultProguardFile("proguard-android-optimize.txt", layout.buildDirectory),
                    "proguard-rules.pro",
                )
                buildType.signingConfig = android.signingConfigs.getByName("release")
                buildType.buildConfigField("String", "API_URL", "\"https://api.example.com\"")
            }
        - getByName: |
            ("debug") { buildType ->
              buildType.isDebuggable = true
              buildType.applicationIdSuffix = ".debug"
              buildType.versionNameSuffix = "-DEBUG"
              buildType.buildConfigField("String", "API_URL", "\"https://dev.api.example.com\"")
              // Specifies a sorted list of fallback build types that the
              // plugin can try to use when a dependency does not include a
              // "staging" build type. You may specify as many fallbacks as you
              // like, and the plugin selects the first build type that's
              // available in the dependency.
              buildType.matchingFallbacks += listOf("qa", "release")
            }
        - create: |
            ("staging") { buildType ->
              buildType.applicationIdSuffix = ".staging"
              buildType.versionNameSuffix = "-STAGING"
              buildType.buildConfigField("String", "API_URL", "\"https://staging.api.example.com\"")
              buildType.matchingFallbacks += listOf("debug", "qa", "release")
            }
      # Specifies the flavor dimensions you want to use. The order in which you
      # list the dimensions determines their priority, from highest to lowest,
      # when Gradle merges variant sources and configurations. You must assign
      # each product flavor you configure to one of the flavor dimensions.
      flavorDimensionList.addAll: |
        (listOf(
          "api",
          "mode",
        ))
      productFlavors:
        - create: |
            ("demo") { productFlavor ->
              // Assigns this product flavor to the "mode" flavor dimension.
              // If you are using only one dimension, this property is optional,
              // and the plugin automatically assigns all the module's flavors to
              // that dimension.
              productFlavor.dimension = "mode"
              productFlavor.applicationIdSuffix = ".demo"
              productFlavor.versionNameSuffix = "-demo"
            }
        - create: |
            ("full") { productFlavor ->
              productFlavor.dimension = "mode"
              productFlavor.applicationIdSuffix = ".full"
              productFlavor.versionNameSuffix = "-full"
            }
        # Configurations in the "api" product flavors override those in "mode"
        # flavors and the defaultConfig block. Gradle determines the priority
        # between flavor dimensions based on the order in which they appear next
        # to the flavorDimensions property, with the first dimension having a higher
        # priority than the second, and so on.
        - create: |
            ("minApi33") { productFlavor ->
              productFlavor.dimension = "api"
              productFlavor.minSdk = 33
              // To ensure the target device receives the version of the app with
              // the highest compatible API level, assign version codes in increasing
              // value with API level.
              productFlavor.versionCode = 30000 + (android.defaultConfig.versionCode ?: 0)
              productFlavor.versionNameSuffix = "-minApi33"
            }
        - create: |
            ("minApi29") { productFlavor ->
              productFlavor.dimension = "api"
              productFlavor.minSdk = 29
              productFlavor.versionCode = 10000  + (android.defaultConfig.versionCode ?: 0)
              productFlavor.versionNameSuffix = "-minApi29"
            }
        - create: |
            ("minApi26") { productFlavor ->
              productFlavor.dimension = "api"
              productFlavor.minSdk = 26
              productFlavor.versionCode = 20000  + (android.defaultConfig.versionCode ?: 0)
              productFlavor.versionNameSuffix = "-minApi26"
            }
      packaging:
        resources:
          excludes.addAll: |
            (setOf(
              "/META-INF/{AL2.0,LGPL2.1}",
              "META-INF/*.kotlin_module",    // Kotlin metadata
              "META-INF/*.SF",               // Signature files
              "META-INF/*.DSA",
              "META-INF/*.RSA",
            ))
          pickFirsts.addAll: |
            (listOf(
              "META-INF/NOTICE*",             // NOTICE.md, NOTICE.txt, etc.
              "META-INF/LICENSE*",            // LICENSE, LICENSE.txt, etc.
              "META-INF/versions/**",         // OSGI or multi-version module info
              "kotlin/**",                     // Kotlin built-ins and metadata
            ))
      androidResources:
        generateLocaleConfig: true
      buildFeatures:
        buildConfig: true
        viewBinding: true
        compose: true
      testOptions:
        unitTests:
          isIncludeAndroidResources: true
          # On Android unit tests will complain about not supplying default values or not being mocked. You will want to include the following.
          isReturnDefaultValues: true

  - dependencies:
      - debugImplementation: (libs["androidx.ui.test.manifest"])
