config:
  imports:
    - org.jetbrains.compose.resources.ResourcesExtension
    - org.jetbrains.compose.ExperimentalComposeLibrary
script:
  - plugins:
      - id: (libs.plugins("compose.multiplatform").pluginId)
      - id: (libs.plugins("compose.compiler").pluginId)
  - kotlin:
      sourceSets:
        - named: |
            ("commonMain") { sourceSet ->
              sourceSet.dependencies {
                implementation(composeLibs.runtime)
                implementation(composeLibs.foundation)
                implementation(composeLibs.material3)
                implementation(composeLibs.ui)
                implementation(composeLibs.components.resources)
                implementation(composeLibs.components.uiToolingPreview)
                implementation(composeLibs.material3AdaptiveNavigationSuite)
                // implementation(composeLibs.materialIconsExtended)
                implementation(libs.bundles("androidx.lifecycle"))
                implementation(libs.bundles("androidx.navigation"))
                implementation(libs["connectivity.compose"])
              }
            }
        - named: |
            ("commonTest") { sourceSet ->
              sourceSet.dependencies {
                @OptIn(ExperimentalComposeLibrary::class)
                implementation(composeLibs.uiTest)
              }
            }
        - named: |
            ("jvmMain") { sourceSet ->
              sourceSet.dependencies {
                implementation(composeLibs.desktop.currentOs)
                implementation(libs["kotlinx.coroutines.swing"])
              }
            }
        - named: |
            ("androidMain") { sourceSet ->
              sourceSet.dependencies {
                implementation(composeLibs.preview)
                implementation(libs["androidx.activity.compose"])
              }
            }
        - named: |
            ("androidIosMain") { sourceSet ->
              sourceSet.dependencies {
                implementation(libs["connectivity.compose.device"])
              }
            }
        - named: |
            ("webMain") { sourceSet ->
              sourceSet.dependencies {
                implementation(composeLibs.html.core)
              }
            }
        - named: |
            ("jvmWebMain") { sourceSet ->
              sourceSet.dependencies {
                implementation(libs["connectivity.compose.http"])
              }
            }
  - compose:
      resources:
        publicResClass: true
        packageOfResClass: packageOfResClass
        generateResClass: ResourcesExtension.ResourceClassGeneration.Auto
  - dependencies:
      # Android dependencies.
      - add: ("lintChecks", libs["compose.lint.checks"])
