config:
  imports:
    - org.jetbrains.compose.resources.ResourcesExtension
script:
  - plugins:
      - id: (libs.plugins("compose.multiplatform").pluginId)
      - id: (libs.plugins("compose.compiler").pluginId)
  - kotlin:
      sourceSets:
        - named: |
            ("commonMain") { sourceSet ->
              sourceSet.dependencies {
                implementation(composeLibs.runtime)
                implementation(composeLibs.foundation)
                implementation(composeLibs.material3)
                implementation(composeLibs.ui)
                implementation(composeLibs.components.resources)
                implementation(composeLibs.components.uiToolingPreview)
                implementation(composeLibs.material3AdaptiveNavigationSuite)
                implementation(composeLibs.materialIconsExtended)
                implementation(libs("androidx.lifecycle.viewmodel"))
                implementation(libs("androidx.lifecycle.runtime.compose"))
              }
            }
        - named: |
            ("commonTest") { sourceSet ->
              sourceSet.dependencies { 
                implementation(composeLibs.uiTest)
              }
            }
        - named: |
            ("jvmMain") { sourceSet ->
              sourceSet.dependencies { 
                implementation(composeLibs.desktop.currentOs)
                implementation(libs("kotlinx.coroutines.swing"))
              }
            }
        - named: |
            ("androidMain") { sourceSet ->
              sourceSet.dependencies {
                implementation(composeLibs.preview)
                implementation(libs("androidx.activity.compose"))
              }
            }
        - named: |
            ("jsMain") { sourceSet ->
              sourceSet.dependencies {
                implementation(composeLibs.html.core)
              }
            }
  - compose:
      resources:
        publicResClass: true
        generateResClass: ResourcesExtension.ResourceClassGeneration.Auto
  - dependencies:
      - debugImplementation: (composeLibs.uiTooling)
      # android dependencies
      - add: ("lintChecks", libs("compose.lint.checks"))
