config:
  imports:
    - org.jetbrains.compose.resources.ResourcesExtension
    - org.jetbrains.compose.ExperimentalComposeLibrary
    - gradle.api.compose.*
script:
  - plugins:
      - id: (libs.plugins("compose.multiplatform").pluginId)
      - id: (libs.plugins("compose.compiler").pluginId)
  - kotlin:
      compilerOptions:
        optIn.addAll: |
          (
            "androidx.compose.ui.InternalComposeUiApi",
            "androidx.compose.ui.ExperimentalComposeUiApi",
            "androidx.compose.material3.ExperimentalMaterial3Api",
            "androidx.compose.material3.ExperimentalMaterial3ExpressiveApi",
            "kotlin.js.ExperimentalWasmJsInterop",
            "org.jetbrains.compose.resources.InternalResourceApi",
            "dev.chrisbanes.haze.ExperimentalHazeApi",
            "dev.chrisbanes.haze.materials.ExperimentalHazeMaterialsApi",
          )
      sourceSets:
        - named: |
            ("commonMain") { sourceSet ->
              sourceSet.dependencies {
                implementation(libs("composeLibs")["runtime"])
                implementation(libs("composeLibs")["ui"])
                implementation(libs("composeLibs")["foundation"])
                implementation(libs("composeLibs")["material3"])
                implementation(libs("composeLibs")["components.resources"])
                implementation(libs("composeLibs")["ui.tooling.preview"])
                implementation(libs("composeLibs")["material.icons.extended"])
                implementation(libs("composeLibs")["window.core"])
                implementation(libs.bundles("androidx.lifecycle"))
                implementation(libs.bundles("androidx.nav3"))
                implementation(libs.bundles("material3.adaptive"))
                implementation(libs("composeLibs")["material3.adaptive.navigation.suite"])
                implementation(libs.bundles("haze"))
                implementation(libs["liquid"])
                implementation(libs["htmlconverter"])
                implementation(libs["richeditor.compose"])
                implementation(libs["wavy.slider"])
                implementation(libs.bundles("compose.settings.ui"))
                implementation(libs["androidx.paging.compose"])
                implementation(libs["libphonenumber"])
                implementation(libs["connectivity.compose"])
                // implementation(libs["kmpauth.uihelper"])
                implementation(libs["material.kolor"])
                implementation(libs["compose.colorpicker"])
                implementation(libs.bundles("compose.icons"))
                implementation(libs.bundles("coil.compose"))
                // implementation(libs["squircle.shape"]) js unsupported.
                implementation(libs["filekit.compose"])
                implementation(libs.bundles("koin.compose.multiplatform"))
                // implementation(libs["circuit.foundation"])
              }
            }
        - named: |
            ("commonTest") { sourceSet ->
              sourceSet.dependencies {
                @OptIn(ExperimentalComposeLibrary::class)
                implementation(libs("composeLibs")["ui.test"])
              }
            }
  - compose:
      resources:
        publicResClass: true
        packageOfResClass: packageOfResClass
        generateResClass: ResourcesExtension.ResourceClassGeneration.Auto
  - dependencies:
      # Android dependencies.
      - add: ("lintChecks", libs["compose.lint.checks"])
