config:
  imports:
    - org.jetbrains.compose.resources.ResourcesExtension
    - org.jetbrains.compose.ExperimentalComposeLibrary
    - gradle.plugins.compose.*
script:
  - plugins:
      - id: (libs.plugins("compose.multiplatform").pluginId)
      - id: (libs.plugins("compose.compiler").pluginId)
  - kotlin:
      compilerOptions:
        optIn.addAll: |
          (
            "androidx.compose.ui.ExperimentalComposeUiApi",
            "org.jetbrains.compose.resources.InternalResourceApi",
          )
      sourceSets:
        - named: |
            ("commonMain") { sourceSet ->
              sourceSet.dependencies {
                implementation(composeLibs.runtime)
                implementation(composeLibs.foundation)
                implementation(composeLibs.material3)
                implementation(composeLibs.ui)
                implementation(composeLibs.components.resources)
                implementation(composeLibs.components.uiToolingPreview)
                implementation(composeLibs.material3AdaptiveNavigationSuite)
                implementation(composeLibs.materialIconsExtended)
                implementation(libs.bundles("androidx.lifecycle"))
                implementation(libs.bundles("androidx.navigation"))
                implementation(libs.bundles("material3.adaptive"))
                implementation(libs["haze"])
                implementation(libs.bundles("compose.settings.ui"))
                implementation(libs["androidx.paging.compose"])
                implementation(libs["connectivity.compose"])
                implementation(libs["compose.colorpicker"])
                implementation(libs.bundles("compose.icons"))
                implementation(libs.bundles("coil.compose"))
                // implementation(libs["squircle.shape"])
                implementation(libs["filekit.compose"])
                implementation(libs.bundles("koin.compose.multiplatform"))
                // implementation(libs["circuit.foundation"])
              }
            }
        - named: |
            ("commonTest") { sourceSet ->
              sourceSet.dependencies {
                @OptIn(ExperimentalComposeLibrary::class)
                implementation(composeLibs.uiTest)
              }
            }
  - compose:
      resources:
        publicResClass: true
        packageOfResClass: packageOfResClass
        generateResClass: ResourcesExtension.ResourceClassGeneration.Auto
  - dependencies:
      # Android dependencies.
      - add: ("lintChecks", libs["compose.lint.checks"])
