config:
  imports:
    - java.net.URI
    - java.util.Date
    - org.gradle.kotlin.dsl.*
    - org.gradle.api.JavaVersion
  compilerOptions:
    - -Xignore-const-optimization-errors
    - -Xinline-classes
    - -Xwhen-guards
    - -Xnon-local-break-continue
    - -Xcontext-parameters
    - -Xmulti-dollar-interpolation
    - -Xrender-internal-diagnostic-names
