<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><!--
   Info.plist
   apple-app

   Created by Aziz Atoev on 11/10/25.
   Copyright (c) 2025 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <!-- App Identity -->
        <key>CFBundleName</key>
        <string>compose-multiplatform</string>
        <key>CFBundleDisplayName</key>
        <string>Compose Multiplatform</string>
        <key>CFBundleIdentifier</key>
        <string>io.github.aaziz993</string>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>

        <!-- Launch -->
        <key>UILaunchStoryboardName</key>
        <string>LaunchScreen</string>

        <!-- Localization -->
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleLocalizations</key>
        <array>
            <string>en</string>
            <string>ru</string>
            <string>tj</string>
        </array>

        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>


        <!-- Google Sign-In -->
        <key>GIDClientID</key>
        <string>444505512670-rtg2r4ikm8squut505ep1gqnqae5nmbr.apps.googleusercontent.com</string>

        <key>CFBundleURLTypes</key><array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.444505512670-rtg2r4ikm8squut505ep1gqnqae5nmbr</string>
            </array>
        </dict>
    </array>

    </dict>
</plist>
