<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><!--
   Info.plist
   apple-app

   Created by Aziz Atoev on 11/10/25.
   Copyright (c) 2025 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <!-- Camera -->
        <key>NSCameraUsageDescription</key>
        <string>Required to capture photos/videos for user verification.</string>

        <!-- Microphone -->
        <key>NSMicrophoneUsageDescription</key>
        <string>Required to record audio for app features.</string>

        <!-- Photos access -->
        <key>NSPhotoLibraryUsageDescription</key>
        <string>Required to access user photos/videos.</string>

    </dict>
</plist>
