config:
  imports:
    - io.ktor.server.plugins.conditionalheaders.ConditionalHeaders
script:
  - module: |
      {
        install(ConditionalHeaders) {
          val file = File("src@jvm/Application.kt")
          version { call, outgoingContent ->
            when (outgoingContent.contentType?.withoutParameters()) {
              ContentType.Text.CSS -> listOf(
                  EntityTagVersion(file.lastModified().hashCode().toString()),
                  LastModifiedVersion(Date(file.lastModified()))
              )
              else -> emptyList()
            }
          }
        }
      }
