config:
  imports:
    - io.ktor.server.plugins.callid.CallId
    - io.ktor.server.plugins.callid.callId
script:
  - module: |
      {
        install(CallId) {
          header("X-Request-ID")
          generate { UUID.randomUUID().toString() }
          verify(String::isNotEmpty)
        }

        routing {
          get("/callId") {
            call.respondText(call.callId.orEmpty())
          }
        }
      }
