config:
  imports:
    - io.ktor.server.plugins.cors.routing.CORS
script:
  - module: |
      {
        install(CORS) {
          // Hosts
          anyHost() // corresponds to host = "*"

          // Allowed headers
          allowHeader(HttpHeaders.ContentType)
          allowHeader(HttpHeaders.Authorization)

          // Allowed methods
          allowMethod(HttpMethod.Get)
          allowMethod(HttpMethod.Post)
          allowMethod(HttpMethod.Put)
          allowMethod(HttpMethod.Patch)
          allowMethod(HttpMethod.Delete)

          allowCredentials = true
        }
      }
