config:
  imports:
    - io.ktor.server.freemarker.FreeMarker
    - freemarker.cache.ClassTemplateLoader
    - io.ktor.server.freemarker.FreeMarkerContent
script:
  - module: |
      {
        install(FreeMarker) {
          templateLoader = ClassTemplateLoader(
            this::class.java.classLoader,
            "templates"
          )
        }
        routing {
          get("/ws") {
            call.respond(FreeMarkerContent("websocket.ftl", mapOf()))
          }
        }
      }
