config:
  imports:
    - io.ktor.server.metrics.dropwizard.DropwizardMetrics
    - com.codahale.metrics.Slf4jReporter
    - com.codahale.metrics.jmx.JmxReporter
script:
  - module: |
      {
        install(DropwizardMetrics) {
          Slf4jReporter.forRegistry(registry)
            .outputTo(this@module.log)
            .convertRatesTo(TimeUnit.SECONDS)
            .convertDurationsTo(TimeUnit.MILLISECONDS)
            .build()
            .start(10, TimeUnit.SECONDS)
          JmxReporter.forRegistry(registry)
            .convertRatesTo(TimeUnit.SECONDS)
            .convertDurationsTo(TimeUnit.MILLISECONDS)
            .build()
            .start()
        }
      }
