config:
  imports:
    - io.github.smiley4.ktoropenapi.OpenApi
    - io.github.smiley4.ktoropenapi.config.OpenApiPluginConfig
    - io.github.smiley4.ktoropenapi.config.OutputFormat
    - io.github.smiley4.ktoropenapi.openApi
script:
  - module: |
      {
        install(OpenApi) {
          spec(OpenApiPluginConfig.DEFAULT_SPEC_ID) {
            outputFormat = OutputFormat.YAML
          }
        }

        routing {
          route("api.yaml") {
            // Create a route to expose the OpenAPI specification file at `/api.yaml`.
            openApi()
          }
        }
      }
