config:
  imports:
    - io.ktor.server.plugins.contentnegotiation.ContentNegotiation
    - io.ktor.serialization.kotlinx.json.json
    - kotlinx.serialization.json.Json
    - io.ktor.serialization.kotlinx.xml.xml
    - io.ktor.serialization.kotlinx.cbor.cbor
    - io.ktor.serialization.kotlinx.protobuf.protobuf
script:
  - module: |
      {
        install(ContentNegotiation) {
          json(
            Json {
              encodeDefaults = true
              isLenient = true
              allowSpecialFloatingPointValues = true
              allowStructuredMapKeys = true
              prettyPrint = false
              useArrayPolymorphism = false
            },
          )
          xml()
          cbor()
          protobuf()
        }
      }
