config:
  imports:
    - io.ktor.server.freemarker.FreeMarker
    - freemarker.cache.ClassTemplateLoader
    - io.ktor.server.freemarker.FreeMarkerContent
    - io.ktor.server.plugins.origin
    - io.ktor.server.request.host
    - io.ktor.server.request.port
script:
  - module: |
      {
        install(FreeMarker) {
          templateLoader = ClassTemplateLoader(
            this::class.java.classLoader,
            "templates"
          )
        }

        routing {
          get("/ws") {
            // Determine WS URL dynamically
            val protocol = if (call.request.origin.scheme == "https") "wss" else "ws"
            val host = call.request.host()
            val port = call.request.port()
            val wsPath = "/ws"
            val wsUrl = "$protocol://$host:$port$wsPath"

            call.respond(
              FreeMarkerContent(
                "websockets.ftl",
                mapOf(
                  "wsUrl" to wsUrl
                )
              )
            )
          }
        }
      }
