imports:
  - application-serialization.yaml
  - application-https-redirect.yaml
  - application-routing.yaml
  - application-websockets.yaml
#  - application-graphql.yaml
  - application-call-logging.yaml
  - application-double-receive.yaml
  - application-call-id.yaml
  - application-rate-limit.yaml
  - application-cors.yaml
  - application-compression.yaml
  - application-partial-content.yaml
  - application-data-conversion.yaml
  - application-validation.yaml
  - application-resources.yaml
  - application-status-pages.yaml
  - application-default-headers.yaml
  - application-caching-headers.yaml
  - application-conditional-headers.yaml
  - application-forwarded-headers.yaml
  - application-x-forwarded-headers.yaml
  - application-x-http-method-override.yaml
  - application-hsts.yaml
  - application-auto-head-response.yaml
  - application-freemarker.yaml
#  - application-swagger.yaml
  - application-application-monitoring.yaml
  - application-micrometer-metrics.yaml
  - application-dropwizard-metrics.yaml
  - application-shutdown.yaml
config:
  imports:
    - java.util.UUID
    - java.io.File
    - java.util.zip.Deflater
    - kotlinx.serialization.json.Json
    - io.ktor.server.engine.connector
    - io.ktor.http.HttpStatusCode
    - io.ktor.http.HttpHeaders.ContentEncoding
    - config.ssl
script:
  # Enable development mode. Recommended to set it via -Dktor.deployment.environment=development
  - developmentMode: true
  - connector: |
        {
          host = "0.0.0.0"
          port = 8080
        }
  - ssl: |
      (
        keyStoreFile = File("resources@jvm/security/ssl/keystore.p12"),
        keyStorePassword = "KtorServer2025",
        privateKeyPassword = "KtorServer2025",
        domains = listOf("localhost", "127.0.0.1", "0.0.0.0"),
        port = 8443
      )
  # Watch for changes in this directory and automatically reload the application if any file changes in development mode.
  - watchPaths: listOf("classes", "resources")
  - module: |
      {
        ping()
      }
