config:
  imports:
    - io.ktor.server.plugins.callid.CallId
    - io.ktor.server.plugins.callid.callId
script:
  - module: |
      {
        install(CallId) {
          header(HttpHeaders.XRequestId)
          replyToHeader(HttpHeaders.XRequestId)
          generate { UUID.randomUUID().toString() }
          verify(String::isNotEmpty)
        }

        routing {
          get("/callId", {
            description = "A CallId Plugin test."
            response {
                HttpStatusCode.OK to {
                    description = "A success response"
                    body<String>()
                }
            }
          }) { call.respondText(call.callId.orEmpty()) }
        }
      }
