imports:
  - application-server.yaml
  - application-koin.yaml
  - application-serialization.yaml
  - application-https-redirect.yaml
  - application-routing.yaml
  - application-websockets.yaml
#  - application-graphql.yaml
  - application-call-logging.yaml
  - application-double-receive.yaml
  - application-call-id.yaml
  - application-rate-limit.yaml
  - application-cors.yaml
  - application-compression.yaml
  - application-partial-content.yaml
  - application-data-conversion.yaml
  - application-validation.yaml
  - application-resources.yaml
  - application-status-pages.yaml
  - application-default-headers.yaml
  - application-caching-headers.yaml
  - application-conditional-headers.yaml
  - application-forwarded-headers.yaml
  - application-x-forwarded-headers.yaml
  - application-x-http-method-override.yaml
  - application-hsts.yaml
  - application-auto-head-response.yaml
  - application-freemarker.yaml
  - application-openapi.yaml
  - application-swagger.yaml
  - application-application-monitoring.yaml
  - application-micrometer-metrics.yaml
  - application-dropwizard-metrics.yaml
  - application-shutdown.yaml
config:
  imports:
    - org.slf4j.event.Level
    - java.time.*
    - java.time.temporal.*
    - java.time.format.*
    - java.text.*
    - java.util.*
    - java.util.concurrent.TimeUnit
    - java.util.zip.Deflater
    - java.io.File
    - kotlinx.serialization.json.Json
    - io.ktor.server.engine.connector
    - config.applicationScript
    - config.ssl
  jvmTarget: 22
  compilerOptions:
    - -Xignore-const-optimization-errors
    - -Xinline-classes
    - -Xwhen-guards
    - -Xnon-local-break-continue
    - -Xcontext-parameters
    - -Xmulti-dollar-interpolation
    - -Xrender-internal-diagnostic-names
    - -Xskip-prerelease-check
script:
  # Enable development mode. Recommended to set it via -Dktor.deployment.environment=development
  - developmentMode: true
  - connector: |
        {
          host = applicationScript.host
          port = applicationScript.port
        }
  - ssl: |
      (
        keyStoreFile = File("resources@jvm/security/ssl/keystore.p12"),
        keyStorePassword = "KtorServerAdmin",
        keyPassword = "KtorServerAdmin",
        domains = listOf("localhost", "127.0.0.1", applicationScript.host),
        expire = 0L,
        port = applicationScript.sslPort
      )
  # Watch for changes in this directory and automatically reload the application if any file changes in development mode.
  - watchPaths: listOf("classes", "resources")
  - module: |
      {
        ping()
      }
