config:
  imports:
    - io.github.smiley4.ktoropenapi.OpenApi
    - io.github.smiley4.ktoropenapi.config.OpenApiPluginConfig
    - io.github.smiley4.ktoropenapi.config.OutputFormat
    - io.github.smiley4.ktoropenapi.openApi
    - io.ktor.server.plugins.openapi.openAPI
    - io.swagger.codegen.v3.generators.html.StaticHtmlCodegen
script:
  - module: |
      {
        install(OpenApi) {
          spec(OpenApiPluginConfig.DEFAULT_SPEC_ID) {
            outputFormat = OutputFormat.YAML
          }
        }

        routing {
          // Generate from file.
          openAPI("openapi/file", "openapi/documentation.yaml") {
            codegen = StaticHtmlCodegen()
          }

          // Generate from routes.
          route("openapi/api.yaml") {
            // Create a route to expose the OpenAPI specification file at `/openapi/api.yaml`.
            openApi()
          }
        }
      }
