<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   apple-app

   Created by Aziz Atoev on 11/10/25.
   Copyright (c) 2025 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <!-- Motion / Activity -->
        <key>NSMotionUsageDescription</key>
        <string>Required to track user movement and fitness activity.</string>

        <!-- Location (foreground) -->
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>Required to provide location-based services on the watch.</string>

    </dict>
</plist>
